body {
  background: linear-gradient(#030,#242,#030);
  color: #888;
}
h2 {
  color: #808080;
}
hr {
  color: #FEE;
}
a {
  color: #A8A;
}
a:visited{
  color: #AAA;
}
tr{
  color: #887;
}
img{
  margin: 2%;
  padding: 2px;
  border: 6px solid black;
}

div.main {
  position: fixed;
  left: 10%;
  top: 28%;
  width: 80%;
  height: 72%;
  padding-left: 2%;
  overflow-y: auto;
  color: white;
}
a.hex {
  color: #20FF80
}
a.str {
  color: #F0FF80
}
iframe.top {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #FFE0E0;
  overflow-y: hidden;
  position: fixed;
  left: 0;
  width: 100%;
  height: 25%;
}
iframe.sidebar {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 10%;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid white;
}
table {
  border: 1px solid #E8E8E8;
  color: #FFFFE0;
}
th {
  width: 6%;
}
td {
  width: 7%;
  border: 1px solid white;
}
tr {
  height: 50px;
}
